.banner{
    height: 496px;
    background-image: url(https://images.unsplash.com/photo-1473256599800-b48c7c88cd7e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae0d68ab0db4ee79bdce92722b31112b&auto=format&fit=crop&w=2725&q=80);
}
.priLinks{    
    margin: -80px 0;
    .row{
        width: 778px;
    }
    .priLinks-item{
        position: relative;
        overflow: hidden;
        z-index: 2;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-decoration: none;
        a{
            padding: 66.5px 0;
            font-size: 24px;
            line-height: 30px;
            span{
                letter-spacing: 5px;
            }
        }
    }
    .priLinks-item:hover{
        filter: brightness(.7);
    }
    .sideBorder{
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }
    .mask{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
        opacity: 0.7;
    }
    .priLinks-itemImg{
        position: absolute;
        right: -10px;
        left: -10px;
        top: -10px;
        bottom: -10px;
        filter: blur(5px);
        z-index: -2;
        transition: filter .5s;
    }
    .dessertoftheday-img{
        background-image: url(https://images.unsplash.com/photo-1490914327627-9fe8d52f4d90?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=73ed228f25bdefd2291c242f6d390fca&auto=format&fit=crop&w=600&q=60);
    }
    .popularItem-img{
        background-image: url(https://images.unsplash.com/photo-1504114133367-631ecd3db3ca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b75e93d90cd88467ae5715becb431a26&auto=format&fit=crop&w=600&q=60);
    }
    .newItem-img{
        background-image: url(https://images.unsplash.com/photo-1499638472904-ea5c6178a300?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c27da96f7150c96a92ba8a53c8644761&auto=format&fit=crop&w=600&q=60);
    }
}
.sloganArea{
    padding: 30px 90px;
}
.whyDo-slogan, .whyEat-slogan, .noReason-slogan{
    width: 88px;
}
.whyDo-slogan, .whyEat-slogan{
    margin-top: -200px;
}
.sloganImg-PC{
    width: 460px;
    height: 460px;
    margin-top: -20px;
    margin-bottom: -20px;
}
.whyDo-img{
    background-image: url(https://images.unsplash.com/photo-1519730722595-a5ff788dea4d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2712a33fe9b13532f0682ac4e1e749b8&auto=format&fit=crop&w=600&q=60);
}
.whyEat-img{
    background-image: url(https://images.unsplash.com/photo-1501432781167-c0ccfd492297?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=621c4e9986fba1c4514dfdc30e095bd2&auto=format&fit=crop&w=600&q=60);
}
.textArea{
    writing-mode: vertical-rl;
    height: 280px;
}
.productItem{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    .proImg, .cakeImg, .cottaImg{
        height: 315px;
    }
    .proImg{
        background-image: url(https://images.unsplash.com/photo-1514517220017-8ce97a34a7b6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7c376ffa487bcd258df29dc881b10703&auto=format&fit=crop&w=700&q=60);
    }
    .cakeImg{
        background-image: url(https://images.unsplash.com/photo-1525203135335-74d272fc8d9c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=61b27d2cefd0dd094b5439f897b43bb7&auto=format&fit=crop&w=700&q=60);
    }
    .cottaImg{
        background-image: url(https://images.unsplash.com/photo-1504473089979-b1c4993a9653?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9db69b72e1f7d1b4e5c81cee531108ff&auto=format&fit=crop&w=700&q=60);
    }
    .proName{
        padding: 14px 40px;
        border-left: 1px solid $light;
        border-right: 1px solid $light;
    }
    .proPrice{
        padding: 14px 28px;
        border-right: 1px solid $light;
    }
    .labelItems{
        position: relative;
        .todayChoice{
            position: absolute;            
            padding: 16px 10px 16px 8px;
            top: 0;
            left: 21px
        }
        .heartBtn{
            position: absolute;
            font-size: 20px;
            top: 19px;
            right: 24px;
        }
    }
    .addCart{
        border-radius: 0;
        width: 100%;
        padding: 16px 0;
    }
}